/* Services Section */
.services {
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	color: white;
}

.services .overlay {
	background: rgba(0, 0, 0, 0.718);
	height: 100%;
}

.services-container {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	padding: 8rem 0;
	gap: 4rem;
}

.services-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #9b9b9b;
	padding: 20px;
	gap: 1rem;
}
.services-header h2 {
	font-size: 44px;
	font-weight: 700;
	margin: 0;
}

.services-all {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #9b9b9b;
	padding: 48px 32px;
	gap: 2rem;
}

/* Single Service */
.service-box {
	padding: 0, 20px;
}

.service-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.service-header h3 {
	white-space: nowrap;
	font-size: 24px;
	margin: 0;
}

.dotted-line {
	flex: 1;
	border-bottom: 2px dashed #9b9b9b;
	margin: 0 10px;
	height: 0;
}

.price {
	white-space: nowrap;
	font-size: 28px;
	font-weight: bold;
}

.service-box p {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.5;
	color: #cdcdcd;
}

.service-box a {
	color: yellow;
	text-decoration: underline;
}
