/* General resets */
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1480px;
	margin: 0 auto;
}

/* Nav styles */
header {
	color: #fff;
	font-weight: bold;
}

.nav-bg {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.476);
	width: 100%;
	z-index: 10;
	padding: 10px 0;
	position: absolute;
}

.nav-container {
	display: flex;
	gap: 4rem;
	align-items: center;
}

.nav-content {
	display: flex;
	flex-direction: column;
}

.logo img {
	max-width: 200px;
}

/* Menu Styling */
.menu {
	display: flex;
	gap: 28px;
	align-items: center;
	justify-content: center;
}

.menu li {
	position: relative;
	list-style: none;
}

.menu li:not(:first-child) {
	border-left: orange 2px solid;
	padding-left: 1rem;
}

.menu li a {
	color: white;
	position: relative;
	padding-bottom: 5px;
	text-decoration: none;
}

.menu li.current-menu-item a,
.menu li a:hover {
	color: white;
}

.menu li a::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: orange;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.menu li a:hover::after,
.menu li.current-menu-item a::after {
	opacity: 1;
}

.nav-top {
	display: flex;
	gap: 4rem;
	border-bottom: 1px solid #fff;
	padding-bottom: 1rem;
}
.contact {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.socials {
	display: flex;
	gap: 1rem;
}
.nav-top a {
	color: white;
	text-decoration: none;
}

.contact span:not(:first-child) {
	border-left: orange 2px solid;
	padding-left: 1rem;
}

/* HERO STYLES */
.hero {
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	color: white;
}

.hero .overlay {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
}

.hero-container {
	max-width: 800px;
}
.hero-content {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.hero-label {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	color: orange;
	border-left: 3px solid orange;
	padding-left: 10px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.hero-heading {
	font-size: 42px;
	font-weight: 800;
	line-height: 1.4;
	margin-bottom: 20px;
}

.hero-subheading {
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 30px;
}

.hero-buttons {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.btn {
	background-color: orange;
	color: black;
	padding: 14px 24px;
	font-weight: bold;
	border: 2px solid orange;
	transition: all 0.3s;
	text-decoration: none;
}

.btn:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.btn.alt {
	background: transparent;
	color: white;
	border: 2px solid white;
}

.btn.alt:hover {
	background: orange;
	color: black;
	border-color: orange;
}

/* Services Section */
.services {
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	position: relative;
	color: white;
}

.services .overlay {
	background: rgba(0, 0, 0, 0.718);
	height: 100%;
}

.services-container {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	padding: 8rem 0;
	gap: 4rem;
}

.services-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #9b9b9b;
	padding: 20px;
	gap: 2rem;
}
.services-header h2 {
	font-size: 36px;
	font-weight: 800;
	margin: 0;
}

.services-all {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #9b9b9b;
	padding: 20px;
	gap: 2rem;
}

/* Single Service */
.service-box {
	padding: 0, 20px;
}

.service-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.service-header h3 {
	white-space: nowrap;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0;
}

.dotted-line {
	flex: 1;
	border-bottom: 2px dashed #9b9b9b;
	margin: 0 10px;
	height: 0;
}

.price {
	white-space: nowrap;
	font-size: 1.1rem;
	font-weight: bold;
}

.service-box p {
	margin-top: 10px;
	font-size: 0.95rem;
	line-height: 1.5;
}

.service-box a {
	color: yellow;
	font-weight: 600;
	text-decoration: underline;
}

/* Work Section */
.work {
	background-size: repeat;
	background-position: center;
	background-attachment: fixed; /* ← this is the key line */
	position: relative;
	color: white;
	position: relative;
	color: white;
}

.work .overlay {
	background: rgba(255, 255, 255, 0.718);
	height: 100%;
}

.work-container {
	display: flex;
	color: black;
	display: flex;
	flex-direction: column;
	padding: 8rem 0;
	gap: 4rem;
}

.work-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 2rem;
	margin: 0 auto;
}
.work-header h2 {
	font-size: 36px;
	font-weight: 800;
	margin: 0;
}

.work-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
}

.gallery-item img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}

.gallery-item img:hover {
	transform: scale(1.03);
}
