/* Work Section */
.work {
	background-size: repeat;
	background-position: center;
	background-attachment: fixed; /* ← this is the key line */
	position: relative;
	color: white;
	position: relative;
	color: white;
}

.work .overlay {
	background: rgba(255, 255, 255, 0.718);
	height: 100%;
}

.work-container {
	display: flex;
	color: black;
	display: flex;
	flex-direction: column;
	padding: 8rem 0;
	gap: 4rem;
}

.work-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 2rem;
	margin: 0 auto;
}
.work-header h2 {
	font-size: 55px;
	margin: 0;
}

.work-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
}

.gallery-item img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}

.gallery-item img:hover {
	transform: scale(1.03);
}
